Now please enter your first and last name.

<form method = "post" action = "/fname">
<form method = "post" action = "/lname">
  <input type = "text" name = "first_name">
  <input type = "text" name = "last_name">
  <input type = "hidden" name = "user_name" value = <%= name %> >
  <input type = "hidden" name = "user_password" value = <%= password %> >
  <input type = "submit">
</form>