Please enter password.

<form method = "post" action = "/password">
    <input type = "password" name = "user_password">
    <input type = "hidden" name = "user_name" value = <%= name %> >
    <input type = "submit">
</form>